
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

/* shared styles */
.display-flex{
  display: flex;
}
/* orange */
.text-orange{
  color: orange;
}


/* Sky blue */
.text-Skyblue{
  color: skyblue;
}

/* 05D4DF */
 .text-05D4DF{
  color: rgba(5, 212, 223, 1);
 }

/* 5D58EF */
.text-5D58EF{
    color: rgba(93, 88, 239, 1);
}

/* header styles */


/* navbar related styles */
.navbar,.banner{
 justify-content: space-between;
 max-width: 1160px;
 margin: 0 auto;
 padding: 20px;
}
/*
.logo img{
  width: 52px;
  height: 62;
} */

.logo{
  display: flex;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  width: 200px;
  height: 62px;
  align-items: center;
}
/*
.SCHOOL{
  font-size: 32px;
  text-align: right;
}  */
.nav-iteam{
 list-style: none;
 margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}
/*
.navbar{
  max-width: 1440px;
  margin: 0 auto;
} */

/* btn-styles */
.btn-contact{
  background-color: orange;
  color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  width: 200px ;
  height: 50px;
  border: none;
}

 /* banner styles */
 
 .banner{
  display: flex;
  align-items: center;
  height: 1158px;
  height: 575px;
  
}
.banner-content{
  max-width: 600px;
}

.banner-title{
  font-size: 56px;
  font-weight: bold;

}

.banner-description{
  font-size: 1.3rem ;
}
.btn-primary{
  background-color: black;
  color: rgba(255, 255, 255, 1);
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  margin-top: 24px;
}
/*
.banner-img{
  width: 468px ;
  height: 575px;
} */
/*  responsive media quarry */
@media screen and (max-width: 580px) {
   .banner, .navbar,.nav-links {
    flex-direction: column;
  
   }
  }
